/* style.css */


*{
    box-sizing:border-box;
}


body{

    margin:0;

    padding:20px;

    background:#101010;

    color:white;

    font-family:"Arial",sans-serif;

}


/* 제목 */

h1{

    text-align:center;

    font-size:32px;

    margin-bottom:25px;

}


/* 전체 박스 */

.container{

    width:100%;

    max-width:500px;

    margin:auto;

    background:#1f1f1f;

    padding:20px;

    border-radius:20px;

}


/* 팀 선택 버튼 */

button{

    width:100%;

    height:55px;

    margin:6px 0;

    border:none;

    border-radius:12px;

    background:#333;

    color:white;

    font-size:18px;

}


button:active{

    background:#555;

}


/* 선택 팀 정보 */

#teamInfo{

    margin-top:20px;

    padding:15px;

    background:#292929;

    border-radius:15px;

    text-align:center;

}


/* 선수 목록 */

.playerList{

    margin-top:20px;

}



/* 선수 카드 */

.player{


    background:#2d2d2d;


    padding:15px;


    margin-bottom:10px;


    border-radius:15px;


    border-left:5px solid #777;


}


/* 등급별 카드 색 */

.player[data-grade="일반"]{

    border-color:white;

}


.player[data-grade="A"]{

    border-color:#3b82f6;

}


.player[data-grade="S"]{

    border-color:#22c55e;

}


.player[data-grade="골든글러브"]{

    border-color:#facc15;

}


.player[data-grade="시그니처"]{

    border-color:#ef4444;

}


.player[data-grade="레전드"]{

    border-color:#a855f7;

}



/* 모바일 최적화 */

@media(max-width:600px){


    h1{

        font-size:26px;

    }


    button{

        font-size:16px;

    }


}
